<h1>Strings</h1>

<p>Strings in python are either sorrounded by either single quotation mark or double quotation mark</p>

1. Python strings
2. Slicing strings
3. Modify strings
4. Concatenate strings
5. format strings
6. Escape characters
7. Strings methods

<h6>1.Python strings</h6>

In [1]:
#Example of a python string
print("I'm 21 years of age")

I'm 21 years of age

In [2]:
#How to break a line 
print("I'm Muiru Kamau \nI'm a recent graduate of University Of Nairobi \nI'm An aspiring data science")

I'm Muiru Kamau
I'm a recent graduate of University Of Nairobi
I'm An aspiring data science

In [3]:
a = "Hello"
len(a)

5

In [4]:
#You can assign a multiline string to a variable using three qoutes 
a ="""I'm Muiru Kamau
I'm a recent graduate of University of Nairobi
I'm an aspiring data scientist """
print(a)

I'm Muiru Kamau
I'm a recent graduate of University of Nairobi
I'm an aspiring data scientist

In [1]:
#you must use the print() function to out put mre than one string
print("Hello world")
print("Hello world")

Hello world
Hello world

In [2]:
#looping in a string
a = "banana"
for i in a:
    print(i)

b
a
n
a
n
a

Check if certain words or character are in a string

In [7]:
# using an if statement
b="My dad is a big person"
if 'dad' in b:
    print("yes,'dad' is in b")

yes,'dad' is in b

In [8]:
print("dad" in b)

True

#### 2.Indexing and slicing strings
Since strings are ordered sequences means we can use indexing to grab subsections.

In [9]:
#indexing 
a = "Hello"
a[1]

'e'

We use : to slice a string

In [10]:
#get characters from 1 to the end
print(a[1:])

ello

In [13]:
#get characters from start to 4(not included)
print(a[:4])

Hell

In [11]:
#reverse indexing
a[-1]

'o'

In [12]:
#get characters from -5 to -2(not included)
print(a[-5:-2])

Hel

We slice a string using this order [start:stop:step]

In [14]:
#let us step size
mystring = "abcdefghijk"
print(mystring[::3])

adgj

In [ ]:
print(mystring[::-1])

<h6>concatenate strings</h6>

In [15]:
a = "Hello "
b = "World"
c= a + b
print(c)

Hello World

In [16]:
letter = "z"
letter * 1
letter * 2

'zz'

### Modify strings(properties and methods)

If you write a variable with a period and hit tab a list will pop out

In [17]:
a = "Hello World"

In [18]:
a.upper()

'HELLO WORLD'

In [19]:
#it helps you to create a list from a string.
a.split()

['Hello', 'World']

In [20]:
a.replace("World","World!")

'Hello World!'

In [21]:
#Removing whitespace
b = "  Hello world  "
b.strip()

'Hello world'

###### Immutability
Once the string is created the elements cannot be changed or replaced

In [3]:
#If you uncomment my second line of code you will run into an error
a = "Sam"
#a[0] = "P"

TypeError: 'str' object does not support item assignment

In [8]:
#If we want to change values of a string we can slice and concatenate
b = a[1:]
print(b)
print("p" + b)

am
pam

<h6>formatting strings</h6>
Using format method

"string {}".format()

In [ ]:
#using format method
print("my name is {}".format("Ben"))

In [ ]:
#You can assign using indexing
print("my sibling names are {0} {1} {2}".format("Ben","Cris","Harri"))

In [ ]:
#You can assign using keywords
print("My siblings names are {b} {c} {h}".format(b="Ben",c="Cris",h="Harri"))

In [ ]:
name = "Ben"
age = 21
print("My name is {} and I'm {} of age".format(name,age))

Float formatting 

Follows "{value:width.precisionf}"

precision is the number of decimal point followed by an f

In [ ]:
b = 100/87
print(b)

In [ ]:
print("The value of our sum is {0:1.2f}".format(b))

Using F strings

In [22]:
name = "Ben"
age = 21
print(f"My name is {name} and I'm {age} years old")

My name is Ben and I'm 21 years old