# Tuple 

###### A tuple is a collection that is ordered and unchangeable and it allows duplicate values.

##### Topics

1. Accessing tuples
2. Update tuples
3. Unpacking tuples
4. Looping tuples

### Intro

In [1]:
#Example of a tuple
thistuple = ("Kenya","Uganda","Tanzania","Rwanda","Burundi","Kenya")
print(thistuple)

('Kenya', 'Uganda', 'Tanzania', 'Rwanda', 'Burundi', 'Kenya')

In [2]:
#We can get the length
len(thistuple)

6

In [3]:
#creating a tuple with one item you must add a comma after the item
a = ("Kenya",)
type(a)
#b = ("Kenya")
#type(b) will be recognized as a string

tuple

### Acessing tuples

In [4]:
#The following example will return Tanzania , Rwanda,Burundi excluding Kenya
#We gonnah be using thistuple
print(thistuple)

('Kenya', 'Uganda', 'Tanzania', 'Rwanda', 'Burundi', 'Kenya')

In [5]:
print(thistuple[-4:-1])

('Tanzania', 'Rwanda', 'Burundi')

In [6]:
#Check if item is present in a tuple
if "Kenya" in thistuple:
    print("yes,Kenya is in this tuple")

yes,Kenya is in this tuple

### Update Tuple

###### Tuples are immutable but you can convert it to a list and revert  it back

In [7]:
print(thistuple)

('Kenya', 'Uganda', 'Tanzania', 'Rwanda', 'Burundi', 'Kenya')

In [8]:
thislist = list(thistuple)
thislist[0]="Ethiopia"
thistuple = tuple(thislist)
print(thistuple)

('Ethiopia', 'Uganda', 'Tanzania', 'Rwanda', 'Burundi', 'Kenya')

####  Add a tuple to tuple

In [9]:
print(thistuple)

('Ethiopia', 'Uganda', 'Tanzania', 'Rwanda', 'Burundi', 'Kenya')

In [11]:
country = ("Malawi",)

thistuple += country
print(thistuple)

('Ethiopia', 'Uganda', 'Tanzania', 'Rwanda', 'Burundi', 'Kenya', 'Malawi')

### Unpacking tuples
If the number of variables is less than the number of values you are supposed to add an * asterisk

In [12]:
print(thistuple)

('Ethiopia', 'Uganda', 'Tanzania', 'Rwanda', 'Burundi', 'Kenya', 'Malawi')

In [15]:
(first,second,third,*others) = thistuple
print(first)
print(second)
print(third)
print(others)

Ethiopia
Uganda
Tanzania
['Rwanda', 'Burundi', 'Kenya', 'Malawi']

### Looping tuples

#### Loop through the index numbers

In [16]:
print(thistuple)

('Ethiopia', 'Uganda', 'Tanzania', 'Rwanda', 'Burundi', 'Kenya', 'Malawi')

In [27]:
for i in range(len(thistuple)):
    print(thistuple[i])

Ethiopia
Uganda
Tanzania
Rwanda
Burundi
Kenya
Malawi

####  using a for loop

In [32]:
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i+=1

Ethiopia
Uganda
Tanzania
Rwanda
Burundi
Kenya
Malawi