# For loops

A for loop is used for iterating over a sequence(that is either a list,a tuple,a dictionary ,a set,or a string).
A for loop doesn't require an indexing variable to set beforehand.

In [1]:
#Print each fruit in a fruit list:
fruits = ["apple","banana","cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

##### Looping Through a String
Even strings are iterable objects,they contain a sequence of characters.

In [2]:
for x in "banana":
    print(x)

b
a
n
a
n
a

##### The break Statement
With the break statement we can stop the loop before it has looped through all the items

In [7]:
fruits = ["apple","banana","cherry"]
for x in fruits:
    print(x)
    if x == "banana" :
        break

apple
banana

We gonnah exit the loop when x is equal to banana but the break comes befor the print.

In [8]:
fruits = ["apple","banana","cherry"]
for x in fruits:
    if x == "banana" :
        break
    print(x)

apple

##### The continue Statement
We can stop the current iteration of the loop,and continue with the next.

In [9]:
#If we don't wanna print banana
fruits = ["apple","banana","cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

### Range () function

The range()function returns a sequence of numbers,starting from 0 by default,and increments by 1 and ends at a specified number.

In [10]:
for x in range(6):#range(6) is values of 0 to 5 excluding 6
    print(x)

0
1
2
3
4
5

range()function has 0 as a starting value and 1 as increment.However you can be able to specify the starting value and the increment.

In [13]:
for x in range(2,20,3):
    print(x)

2
5
8
11
14
17

### Else in For loop
Else keyword in a for loop specifies a block of code to be executed when the loop is finished.

In [15]:
# print all numbers to 5 and print the message when the loop ends
for x in range(6):
    print(x)
else:
    print("Finally finished")

0
1
2
3
4
5
Finally finished

In [17]:
#The else block will not be executed if the loop is stopped by a break statement

for x in range(6):
    if x == 3:break
    print(x)
else:
    print("finally finished")

0
1
2

### Nested Loops

A nested loop is a loop inside a loop.
The "inner loop" will be executed one time for each iteration of the "outer loop".

In [18]:
adj = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

### Pass Statement
If the for loop has no content you must put in the pass statement to avoid getting an error.

In [19]:
for x in [0,1,2]:
    pass

### Using indexes

In [3]:
x = ["apple","banana","oranges","passion"]
for i in range(len(x)):
    print(x[i])

apple
banana
oranges
passion

#### Some more examples

In [5]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for i in mylist:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
#printing hello for every item in the list
for i in mylist:
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

##### printing out only the even numbers

In [7]:
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
for num in mylist:
    #check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f"Odd Number:{num}")

Odd Number:1
2
Odd Number:3
4
Odd Number:5
6
Odd Number:7
8
Odd Number:9
10

In [14]:
list_sum = 0
for num in mylist:
    list_sum +=num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [15]:
#Different location of the print function
list_sum = 0
for num in mylist:
    list_sum +=num
print(list_sum)

55

##### Iterating through strings

In [16]:
for letter in "Hello World"  :
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [18]:
#I can use an underscore as my variable if I want to iterate something a certain amount of time not necessarily my variable.
for _ in "Hello World":
    print("cool")

cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool

##### Iterate through tuples

In [19]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

##### tuple unpacking

In [21]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [22]:
#We will get the tuple pairs
for items in mylist:
    print(items)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [24]:
#Tuple unpacking = where we duplicate the structures of the items in this case tuple inside the sequence and unpack them.
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

### Iterating dictionaries

In [26]:
d = {"Cris":26,"Ben":21,"Harri":18}

In [27]:
for item in d.items():
    print(item)

('Cris', 26)
('Ben', 21)
('Harri', 18)

In [29]:
for key,value in d.items():
    print(key)
    print(value)

Cris
26
Ben
21
Harri
18