<h1>Strings</h1>

<p>Strings in python are either sorounded by either single quotation mark or double quotation mark</p>

<p>Python strings</br>Slicing strings</br>Modify strings</br>Concatenate strings</br>format strings</br>Escape characters</br>Strings methods</p>

<h6>1.Python strings</h6>

In [1]:
#Example of a python string
print("I'm 21 years of age")

I'm 21 years of age

In [12]:
#How to break a line 
print("I'm Muiru Kamau \nI'm a recent graduate of University Of Nairobi \nI'm An aspiring data science")

I'm Muiru Kamau
I'm a recent graduate of University Of Nairobi
I'm An aspiring data science

In [8]:
a = "Hello"
len(a)

5

In [16]:
#You can assign a multiline variable to a string using three qoutes
a ="""I'm Muiru Kamau
I'm a recent graduate of University of Nairobi
I'm an aspiring data scientist """
print(a)

I'm Muiru Kamau
I'm a recent graduate of University of Nairobi
I'm an aspiring data scientist

In [18]:
#looping in a string
a = "banana"
for i in a:
    print(i)

b
a
n
a
n
a

Check if certain words or character are in a string

In [24]:
# using an if statement
b="My dad is a big person"
if 'dad' in b:
    print("yes,'dad' is in b")

yes,'dad' is in b

In [25]:
print("dad" in b)

True

<h6>2.Indexing and slicing strings</h6>

In [29]:
#indexing 
a = "Hello"
a[1]

'e'

We use : to slice a string

In [32]:
#get characters from 1 to the end
print(a[1:])

ello

In [34]:
#get characters from start to 4(not included)
print(a[:4])

Hell

In [33]:
#reverse indexing
a[-1]

'o'

In [36]:
#get characters from -5 to -2(not included)
print(a[-5:-2])

Hel

We slice a string using this order [start:stop:step]

In [46]:
#let us step size
mystring = "abcdefghijk"
print(mystring[::3])

adgj

In [47]:
print(mystring[::-1])

kjihgfedcba

<h6>concatenate strings</h6>

In [49]:
a = "Hello "
b = "World"
c= a + b
print(c)

Hello World

In [56]:
letter = "z"
letter * 1
letter * 2

'zz'

<h6>Modify strings</h6>

If you write a variable with a period and hit tab a list will pop out

In [57]:
a = "Hello World"

In [59]:
a.upper()

'HELLO WORLD'

In [60]:
a.split()

['Hello', 'World']

In [61]:
a.replace("World","World!")

'Hello World!'

In [70]:
#Removing whitespace
b = "  Hello world  "
b.strip()

'Hello world'

<h6>formatting strings</h6>
Using format method</br>
"string {}".format()

In [80]:
#using format method
print("my name is {}".format("Ben"))

my name is Ben

In [81]:
#You can assign using indexing
print("my sibling names are {0} {1} {2}".format("Ben","Cris","Harri"))

my sibling names are Ben Cris Harri

In [82]:
#You can assign using keywords
print("My siblings names are {b} {c} {h}".format(b="Ben",c="Cris",h="Harri"))

My siblings names are Ben Cris Harri

In [79]:
name = "Ben"
age = 21
print("My name is {} and I'm {} of age".format(name,age))

My name is Ben and I'm 21 of age

Float formatting </br>
Follows "{value:width.precisionf}" </br>
precision is the number of decimal point followed by an f

In [84]:
b = 100/87
print(b)

1.1494252873563218

In [93]:
print("The value of our sum is {0:1.2f}".format(b))

The value of our sum is 1.15

Using F strings

In [91]:
name = "Ben"
age = 21
print(f"My name is {name} and I'm {age} years old")

My name is Ben and I'm 21 years old